* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: sans-serif;
  font-size: 16px; */
}

hr.new1 {
/* border: 4px dashed purple; */
border: 2px;
border-style: dashed none none none;
color: purple;
width: 100%;
margin-top: 0.8%;
margin-bottom: 0.8%;

}

.nav {
  text-align: right;
  margin-right: 2%;
  margin-top: 1em;
  /* display: inline-block; */


  /* margin-right: 15%; */
}
.title {
  font-size: 9em;
  color: purple;
  font-family: "Bagnard Sans";
  line-height: 0.9em;
  /* position: relative; */
  display: block;
   backface-visibility: hidden;
}

#wrapper {
position: relative;
width: inherit;



}

.text {
  width: 40%;
  height: auto;
  z-index: 9;
  top: 1em;


}

#wrapper .text {
font-family: 'Source Code Pro', monospace;
z-index: 9;
position: absolute;
display:flex;
background-color: rgb(252, 220, 52);

color: purple;
font-size: 25px;
font-style: italic;
text-align: left;
visibility:hidden;
padding: 0.3em 0.9em;
text-align: center;
margin-bottom: 2em;
margin-left: 32%;

}

#wrapper:hover .text {
visibility: visible;
z-index: 9;

}

#wrapper:hover .title {
  color: rgb(252, 220, 52);
  z-index: 9;

}
.about {
  /* position: relative; */
font-family: 'Source Code Pro', monospace;
color: purple;
  position: relative;
    text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


.about .popuptext {
font-family: 'Source Code Pro', monospace;
  visibility: hidden;
  width: 7em;
  background-color: purple;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  margin-left: 8em;
  width: 80%;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* Popup arrow */
.about .popuptext::after {
  content: "";
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  display: flex;
}

/* Toggle this class - hide and show the popup */
.about .show {
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* ---- button ---- */
.button {
font-family: 'Source Code Pro', monospace;

display: inline-block;
  padding: 5px 9px;
  margin-bottom: 10px;
  border: 1px solid purple;
  border-radius: 20px;
  color: purple;
  background: white;
  font-size: 13px;
  cursor: pointer;

}

.button:hover {
  background-color: rgb(252, 220, 52);
  color: purple;
}

.button:active,
.button.is-checked {
  background-color: purple;
}

.button.is-checked {
  color: white;
}

.button:active {
  background-color: white;
}

/* ---- button-group ---- */

.button-group {
  margin-left: 2%;

}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  justify-content: center;
  align-items: center;
  /* float: left; */
  border-radius: 15px;
  margin-left: 0;
  margin-right: 1px;
}




/* ---- isotope ---- */
.grid {
  /* border: 1px solid #333; */
  /* display: block; */
  margin-left: 1%;
  /* margin-right: 1%;  */
  height: auto;
  width: 100%
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */

}

/* clear fix */
.grid:after {
  display: block;
  /* left: 200px; */
  top: 20px;
}



.element-item {
  position: relative;
  width: 12em;
  height: 12em;
  margin: 0.5em;
  /* padding: 1.2em; */
  padding-left: 2em;
  color: #262524;
  border: 1px solid purple;
  background: white;
  box-shadow: -0.5em 0.5em purple;
}

.element-item>* {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

img {
  /* width:inherit; */
  top: inherit;
  height:inherit;
  text-align: center;
}
