* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(210, 210, 210);
  /* font-family: sans-serif;
  font-size: 16px; */
}

hr.new1 {

  border: 2px;
  border-style: dashed none none none;
  color: rgb(106, 5, 140);
  width: 100%;
  margin-top: 0.8%;
  margin-bottom: 0.7%;
}

hr.new2 {

  border: 2px;
  border-style: dashed none none none;
  color: rgb(106, 5, 140);
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.8%;
}


.nav {
  text-align: right;
  margin-right: 2%;
  margin-top: 1em;

}

.title {
  font-size: 9em;
  color: rgb(106, 5, 140);
  font-family: "Bagnard Sans";
  line-height: 0.9em;

  display: block;
  backface-visibility: hidden;
}

#wrapper {
  position: relative;
  width: inherit;
}

.text {
  width: 40%;
  height: auto;
  z-index: 9;
  top: 1em;
}




#wrapper .text {

  font-family: 'Source Code Pro', monospace;
  z-index: 9;
  position: absolute;
  display: flex;
  background-color: rgb(252, 220, 52);
  color: rgb(106, 5, 140);
  font-size: 25px;
  font-style: italic;
  text-align: left;
  visibility: hidden;
  padding: 0.3em 0.9em;
  text-align: center;
  margin-bottom: 2em;
  margin-left: 32%;
}

#wrapper:hover .text {
  visibility: visible;
  z-index: 9;
}

#wrapper:hover .title {
  color: rgb(252, 220, 52);
  z-index: 9;
}



.about {
  /* position: relative; */
  font-family: 'Source Code Pro', monospace;
  color: rgb(106, 5, 140);
  position: relative;
  text-align: right;
    margin-right: 1.5%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about p {
  font-size: 12px;
  font-family: 'Source Code Pro', monospace;
  color: rgb(106, 5, 140);
}
#about {
  font-size: 14px;
  font-family: 'Source Code Pro', monospace;
  color: rgb(106, 5, 140);
  font-style: bold;
}

.popuptext {
     word-wrap: break-word;
  z-index: 9;
  margin-left: 37%;
}

.close {
  color: rgb(106, 5, 140);
  float: right;
  font-size: 28px;
  position: absolute;
  top: 0.5vh;
  left: 58.5vw;
  /* font-weight: bold; */
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.about .popuptext {
     word-wrap: break-word;
  font-family: 'Source Code Pro', monospace;
  visibility: hidden;
  background-color: rgb(252, 220, 52);
  color:rgb(106, 5, 140);
  text-align: left;
  width: auto;
  padding: 15px 15px;
  height: auto;
  display: block;
  position: absolute;
  border: 1px solid rgb(106, 5, 140);
  box-shadow: -0.5em 0.5em rgb(106, 5, 140);

}

/* Popup arrow */
.about .popuptext::after {
  content: "";
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: auto;
  display: flex;
}

/* Toggle this class - hide and show the popup */
.about .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---- button ---- */
.button {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  padding: 5px 9px;
  margin-bottom: 10px;
  border: 1px solid rgb(106, 5, 140);
  border-radius: 20px;
  color: rgb(106, 5, 140);
  background: white;
  font-size: 13px;
  cursor: pointer;

}

.button:hover {
  background-color: rgb(252, 220, 52);
  color: rgb(106, 5, 140);
}

.button:active,
.button.is-checked {
  background-color: rgb(106, 5, 140);
}

.button.is-checked {
  color: white;
}

.button:active {
  background-color: white;
}

/* ---- button-group ---- */
.button-group {
  margin-left: 2%;

}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  justify-content: center;
  align-items: center;
  /* float: left; */
  border-radius: 15px;
  margin-left: 0;
  margin-right: 1px;
}

/* ---- isotope ---- */
.grid {
  /* border: 1px solid #333; */
  /* display: block; */
  margin-left: 1%;
  /* margin-right: 1%;  */
  height: auto;
  width: 100% padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

/* clear fix */
.grid:after {
  display: block;
  /* left: 200px; */
  top: 20px;
}

.element-item {
  position: relative;
  width: 12em;
  height: 12em;
  margin: 0.5em;
  /* padding: 1.2em; */
  padding-left: 2em;
  color: #262524;
  border: 1px solid rgb(106, 5, 140);
  background: white;
  box-shadow: -0.5em 0.5em rgb(106, 5, 140);
}

.element-item>* {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

img {
  /* width:inherit; */
  top: inherit;
  height: inherit;
  text-align: center;
}


::-webkit-scrollbar {
  width: 10px;
  background: rgba(252, 220, 52);
}


::-webkit-scrollbar-track {
color: rgb(106, 5, 140);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: rgb(106, 5, 140);
  border-radius: 10px;
}
